*{
  margin:0;
  padding:0;
}
#loading{
position:fixed;
width:100%;
height:100vh;
background: #fff
url('Infinity.gif') no-repeat center;
z-index:999999;
}
body{
  background: #d9a7c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fffcdc, #d9a7c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
html {
  scroll-behavior: smooth;
}
.hr
{
  border: dotted grey 6px;
  border-bottom: none;
  width: 8%;
  margin: 20px auto;
}
.button-effect{
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #2196f3;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 60px;
  overflow: hidden;
  transition: 0.2s;
   margin-top:2%;
   letter-spacing:8px;
   font-weight:bold;
}
.button-effect:hover{
  color: #255784;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  transition-delay: 0s;
}
.carousel-cell
{
  width: 66%;
  }

  /* cell number */
.carousel-cell:before {
    display: block;
  }


.logo-img{
  width:60px;
  height: 60px;
}



.page-banner
{
  width : 100%;
  height: 100vh;
  background-image: url('https://i.redd.it/1w5mfm9e6k151.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  display: flex;
}


.page-banner-text
{

  text-align: center;
  font-weight: bold;
  margin: auto;
  padding: 20%;
  font-style: italic;
  color: #f21856;
  font-family: 'Alex Brush';
  display: flex;
}
.page-banner-text-h1
{
  font-size:150px;
  font-family: 'Great Vibes', sans-serif;
}


.upcoming-plans-h1{
  text-align: center;
  margin: 5%;
  font-size: 70px;
  font-weight: bold;
  font-family: 'Lobster',sans-serif;
  padding: 10px;
  text-decoration: underline;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
.upcoming-plans-images{
  width:700px;
  height:650px;
  padding : 10px;
  margin: 20px;
}
.upcoming-plans-p{
  margin: 3%;
  padding-left: 20px;
  letter-spacing: 4px;
  line-height: normal;
  font-size: 25px;
  font-style: italic;
  font-family: 'Alatsi', sans-serif;
  font-weight: bold;
  margin-top: 50px;
  margin-right: 20px;
  margin-left: 20px;
}



.about-h1
{
    text-align: center;
    margin: 5%;
    font-size: 70px;
    font-weight: bold;
    font-family: 'Lobster',sans-serif;
    padding: 10px;
    text-decoration: underline;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
.about-images{
  width: 500px;
  height: 350px;
  margin: 3%;
}
.about-p{
  text-align: center;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  font-family: 'Charm', sans-serif;
}
.about-pp{
  text-align: justify;
  font-size: 28px;
  font-style: italic;
  font-family: 'Charm', sans-serif;
  margin: 5%;
}



.packages-h1{
  text-align: center;
  margin: 5%;
  font-size: 70px;
  font-weight: bold;
  font-family: 'Lobster',sans-serif;
  padding: 10px;
  text-decoration: underline;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
.package-images{
  width: 500px;
  height: 400px;
  margin: 3%;
  border-radius: 20%;
}
.package-p{
  text-align: justify;
  font-size: 40px;
  margin: 10px;
  font-family: 'Averia Serif Libre', sans-serif;
}
.package-h3{
  font-family: 'Knewave',sans-serif;
  font-size: 40px;
}
.package-h2{
  margin: 3%;
}


.contact-h1{
  text-align: center;
  margin: 5%;
  font-size: 70px;
  font-weight: bold;
  font-family: 'Lobster',sans-serif;
  padding: 10px;
  text-decoration: underline;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
.contact-info{
  margin: auto;
}


@media all and (max-width: 600px) and (min-width: 200px)
{
  .page-banner
  {
    width : 100%;
    height: 40vh;
    background-image: url('https://i.redd.it/1w5mfm9e6k151.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
  .page-banner-text
  {
    text-align: center;
    font-weight: bold;
    margin: auto;
    font-style: italic;
    color: #f21856;
    font-family: 'Alex Brush';
  }
  .page-banner-text-h1
  {
    font-size:50px;
    margin: auto;
    margin-top: 20%;
  }


  .upcoming-plans-h1{
    text-align: center;
    margin: 5%;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Lobster',sans-serif;
    padding: 10px;
    text-decoration: underline;
    color: white;
    text-shadow: 2px 2px 4px #000000;
  }
  .upcoming-plans-images{
    width:300px;
    height:250px;
    padding : 10px;
    margin: 20px;
  }
  .upcoming-plans-p{
    margin: auto;
    letter-spacing: 4px;
    line-height: normal;
    font-size: 15px;
    font-style: italic;
    font-family: 'Alatsi', sans-serif;
    font-weight: bold;
  }



  .about-h1
  {
      text-align: center;
      margin: 5%;
      font-size: 40px;
      font-weight: bold;
      font-family: 'Lobster',sans-serif;
      padding: 10px;
      text-decoration: underline;
      color: white;
      text-shadow: 2px 2px 4px #000000;
  }
  .about-images{
    width: 150px;
    height: 100px;
    margin: 3%;
  }
  .about-p{
    text-align: center;
    font-size: 10px;
    font-style: italic;
    font-weight: bold;
    font-family: 'Charm', sans-serif;
  }
  .about-pp{
    text-align: justify;
    font-size: 15px;
    font-style: italic;
    font-family: 'Charm', sans-serif;
    margin: auto;
  }



  .packages-h1{
    text-align: center;
    margin: 5%;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Lobster',sans-serif;
    padding: 10px;
    text-decoration: underline;
    color: white;
    text-shadow: 2px 2px 4px #000000;
  }
  .package-images{
    width: 200px;
    height: 150px;
    margin: 3%;
  }
  .package-p{
    text-align: justify;
    font-size: 20px;
    margin: 10px;
    font-family: 'Averia Serif Libre', sans-serif;
  }
  .package-h3{
    font-family: 'Knewave',sans-serif;
    font-size: 20px;
  }
  .package-h2{
    margin: 3%;
  }


  .contact-h1{
    text-align: center;
    margin: 5%;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Lobster',sans-serif;
    padding: 10px;
    text-decoration: underline;
    color: white;
    text-shadow: 2px 2px 4px #000000;
  }
  .contact-info{
    margin: auto;
  }

}



@media all and (max-width: 800px)
{
  .page-banner
  {
    width : 100%;
    height: 50vh;
    background-image: url('https://i.redd.it/1w5mfm9e6k151.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
  .page-banner-text
  {
    text-align: center;
    font-weight: bold;
    margin: auto;
    font-style: italic;
    color: #f21856;
    font-family: 'Alex Brush';
  }
  .page-banner-text-h1
  {
    font-size:60px;
    margin: auto;
    margin-top: 10%;
  }


  .upcoming-plans-h1{
    text-align: center;
    margin: 5%;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Lobster',sans-serif;
    padding: 10px;
    text-decoration: underline;
    color: white;
    text-shadow: 2px 2px 4px #000000;
  }
  .upcoming-plans-images{
    width:350px;
    height:300px;
    padding : 10px;
    margin: 20px;
  }
  .upcoming-plans-p{
    margin: auto;
    letter-spacing: 4px;
    line-height: normal;
    font-size: 20px;
    font-style: italic;
    font-family: 'Alatsi', sans-serif;
    font-weight: bold;
  }



  .about-h1
  {
      text-align: center;
      margin: 5%;
      font-size: 50px;
      font-weight: bold;
      font-family: 'Lobster',sans-serif;
      padding: 10px;
      text-decoration: underline;
      color: white;
      text-shadow: 2px 2px 4px #000000;
  }
  .about-images{
    width: 200px;
    height: 150px;
    margin: 3%;
  }
  .about-p{
    text-align: center;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    font-family: 'Charm', sans-serif;
  }
  .about-pp{
    text-align: justify;
    font-size: 20px;
    font-style: italic;
    font-family: 'Charm', sans-serif;
    margin: auto;
  }



  .packages-h1{
    text-align: center;
    margin: 5%;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Lobster',sans-serif;
    padding: 10px;
    text-decoration: underline;
    color: white;
    text-shadow: 2px 2px 4px #000000;
  }
  .package-images{
    width: 250px;
    height: 200px;
    margin: 3%;
  }
  .package-p{
    text-align: justify;
    font-size: 25px;
    margin: 10px;
    font-family: 'Averia Serif Libre', sans-serif;
  }
  .package-h3{
    font-family: 'Knewave',sans-serif;
    font-size: 25px;
  }
  .package-h2{
    margin: 3%;
  }


  .contact-h1{
    text-align: center;
    margin: 5%;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Lobster',sans-serif;
    padding: 10px;
    text-decoration: underline;
    color: white;
    text-shadow: 2px 2px 4px #000000;
  }
  .contact-info{
    margin: auto;
  }

}
